p,
div,
span {
  font-family: DM Sans;
}

.gradient-button {
  background-color: linear-gradient(90deg, rgba(249, 149, 118, 1) 0%, rgba(255, 110, 65, 1) 29%, rgba(255, 60, 0, 1) 100%) !important;
}


.rotate-animation {
  animation: rotate 8s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.blog-content img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog-content p {
  margin-bottom: 20px;
}


.bottom-border {
  border-bottom: 1.5px solid #ced1d4;
}

.top-border {
  border-top: 1.5px solid #ced1d4;
}


/*  */
@keyframes fadeInDown {
  0% {
    opacity: 0.6;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sticky {
  position: fixed;
  top: 0;
  left :0;
  width: 100%;
  animation-duration: 0.7s;
  animation-name: fadeInDown;
  animation-timing-function: ease-out;
  background-color: #fff;
  z-index:1;
  padding-bottom: 20px;
  padding-right: 50px;
  padding-left: 50px;
}


@media only screen and (max-width: 600px) {
  .sticky {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.truncate-3-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.bottom-gradient{
  background: linear-gradient(4deg, rgba(38,36,36,1) 17%, rgba(55,52,52,1) 51%, rgba(128,117,113,1) 100%);
}